:root {
    --link-hover-color: #FF6565;
    --button-hover-opacity: 0.9;
    --max-content-width: 1000px;
}

a:hover, a:active {
    color: var(--link-hover-color);
}

button:hover, button:active {
    opacity: var(--button-hover-opacity);
}

.content {
    max-width: var(--max-content-width);
    margin: auto;
}

@media only screen and (max-width: 480px) {

}